* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.container {
    margin: 0 20px;

}


.main {
    padding: 30px 0;
    display: flex;align-items: center;justify-content: center;
}

.tasks-container {
  
  width: 80%;
   max-width: 800px;
   
    background-color: rgb(58, 205, 250);
    padding: 20px 0 0 0;
    border-radius: 20px;
}
.title{color:aliceblue;font-family: sans-serif;background-color: rgb(58, 205, 250);font-size: 20px;font-weight: 700;text-align: center;text-transform: uppercase;padding-bottom: 10px;}
.task {
  
    min-height: 250px;
    background: #fff;
    padding: 15px;
    color: #000;
    font-family: sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    line-height: 1.5;
    border-radius: 20px;
}
.Addtask {
    min-height: 250px;
    background: #fff;
    padding: 15px;
    color: #000;
    font-family: sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    line-height: 1.5;
    border-radius: 20px;
}

.tasker {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.task-list{width: 100%;display: flex;gap: 5px;}
.task-list-main{width: 100%;display: flex;gap: 5px;}

.task-list input{
    width: 100%;
    text-transform: capitalize;
    outline: none;
    color: black;
    font-size: 15px;
    background-color: aliceblue;
    border: none;
    padding: 5px 10px;border-radius: 10px;
}

.task-list-main input{
    width: 99%;
    text-transform: capitalize;
    outline: none;
    color: black;
    font-size: 15px;
    background-color: aliceblue;
    border: none;
    padding: 5px 10px;border-radius: 10px;
}
.addtaskbutton{background-color: rgb(58, 205, 250);
font-size: 12px;
padding: 10px;
border-radius: 10px;
color: white;
border: none;}
.addtaskBoxbutton{background-color: rgb(58, 205, 250);
font-size: 20px;
padding: 10px;
border-radius: 10px;
color: white;
border: none;}

.deletetaskbutton{background-color: rgb(58, 205, 250);
font-size: 12px;
padding: 10px;
border-radius: 10px;
color: white;
border: none;}

.task-title input{
   padding: 10px;outline: none;border-radius: 10px;
    border: none;
    color: black;
    width: 100%;
    font-size: 20px;
    background-color: rgb(58, 205, 250);
    margin-bottom: 15px;
}
.task-title-main{display: flex;align-items: start;gap: 5px;}
.task-title-main input{
   padding: 10px;outline: none;border-radius: 10px;
    border: none;
    color: black;
    width: 100%;
    font-size: 20px;
    background-color: rgb(58, 205, 250);
    margin-bottom: 15px;
}
.completed{background-color:  rgb(58, 205, 250) !important;
color: grey !important;}

#task2{position: absolute;z-index: -1;top: 25%;transition:0.9s;}
#task{position: absolute;z-index: 1;top: 25%;transition: 0.9;}


